[submodule "glfw"]
	path = GLFW
	url = https://github.com/glfw/glfw.git

[submodule "glew"]
	path = GLEW
	url = https://github.com/omniavinco/glew-cmake

[submodule "glm"]
	path = GLM
	url = https://github.com/g-truc/glm